
# JupyterLab extension build artifacts
# PyPI build artifacts
*.egg-info/
*.pyc
.DS_Store
.idea/
.ipynb_checkpoints/
.venv/
__pycache__/
build/
data/*.db
data/progress.json
dist/
labextension/lib/
labextension/node_modules/
labextension/torchcode_labext/labextension/
labextension/tsconfig.tsbuildinfo
labextension/yarn.lock
notebooks/
